<div class="container">
    <div class="row justify-content-center align-items-center">
        <div class="col col-sm-6">
            <div class="text-center">
                <h1 [hidden]="!isCross" class="uppercase text-danger">Player 1 turn</h1>
                <h1 [hidden]="isCross" class="uppercase text-danger">Player 2 turn</h1>
            </div>
            <div class="grid">
                <div *ngFor="let item of itemArray; let i = index">
                    <div class="card"  (click)="clickIcon(i)">
                        <div class="card-box box">
                            <app-icon [iconName]="itemArray[i]"></app-icon>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col col-sm-6 text-center text-white" *ngIf="message">
            <h1> {{message}}</h1>
            <h1> Game Over</h1>
            <button class="btn btn-danger pr-5 pl-5" (click)="reloadGame()">
                Reload Game
            </button>
        </div>  
    </div>
</div>

